<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.younger.hisurvey.dao.mapper.OptionMapper">
    <sql id="tableName">
        survey_option
    </sql>

    <sql id="baseColumn">
        id,question_id,content,is_right_answer,sort,status,create_time,update_time
    </sql>

</mapper>